                         <div class="row">
      <div class=" col-md-4 col-lg-4 col-sm-2 col-xs-1"></div>
            <div class="col-md-4 col-lg-4 col-sm-8 col-xs-10">
                             <img src="images/test.jpg" alt="..." class="img-circle img-responsive foto">
            </div>
     <div class=" col-md-4 col-lg-4 col-sm-2 col-xs-1"></div>
                          </div>


       <div class="row">
      <div class=" col-md-4 col-lg-4 col-sm-2 col-xs-1"></div>
            <div class="page-header col-md-4 col-lg-4 col-sm-8 col-xs-10">
              <i><h1>Something about Yaryna Konuishenko!</h1></i>
            </div>
      <div class=" col-md-4 col-lg-4 col-sm-2 col-xs-1"></div>
      <div class="row">
          <div class=" col-md-4 col-lg-4 col-sm-2 col-xs-1"></div> 
      <div class=" col-md-4 col-lg-4 col-sm-8 col-xs-10">
        <small>Only good features.</small>
      </div>  
        <div class=" col-md-4 col-lg-4 col-sm-2 col-xs-1"></div>
      </div>
     </div>
     </div>
           <div id="about">
                  <article class='ed'>
                             <h1>Education</h1>
                    <ul>
                      <li>
                        LFML
                      </li>
                      <li>
                        Warshaw Politechnic University
                      </li>
                    </ul>
                  </article>
                  <article>
                    <h1>Like's</h1>
                    <ul>
                      <li>
                       Fruits
                      </li>
                      <li>
                       Chocolate
                      </li>
                    </ul>
                  </article>
                  <article>
                    <h1>Profesional scills</h1>
                    <ul>
                      <li>
                        Java
                      </li>
                      <li>
                        Html,css
                      </li>
                      <li>
                        c#
                      </li>
                      <li>
                        python
                      </li>
                    </ul>
                  </article>
            </div>

  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Yaruna's Website 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li> <a class="fa-stack fa-2x" href="#/work"
                             ><i class="fa"></i>
                               <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a>
                        </li>
                        <li> <a class="fa-stack fa-2x" href="#/contact">
                              <i class="fa"></i>
                               <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-vk fa-stack-1x fa-inverse"></i></a>
                        </li>
                        <li>       <a class="fa-stack fa-2x" href="#/contact">
                              <i class="fa"></i>
                               <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
