<div  ng-controller="afterCtrl">
 <center>
  <h1>Hello,<span>{{formData.name}}</span></h1>
  <h2>Thanks for sending message!I'll reply in near future!</h2>
  <p><a class="btn btn-danger " role="button" ng-click="goToMain()">Click to go to main page!</a></p>
  </center>

                           <div class="row">
      <div class=" col-md-4 col-lg-4 col-sm-2 col-xs-1"></div>
            <div class="col-md-4 col-lg-4 col-sm-8 col-xs-10">
                             <img src="images/test.jpg" alt="..." class="img-circle img-responsive foto">
            </div>
     <div class=" col-md-4 col-lg-4 col-sm-2 col-xs-1"></div>
                          </div>
                       <center>
                          <h1>Have good day!</h1>
                          </center>
</div>